<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
    <link rel="shortcut icon" href="static/images/favicon/favicon-32x32.png" type="image/x-icon">
    <script src="htps://kit.fontawesome.com/49f031506e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="shortcut icon" href="static/IMG/PANDA icon.ico" type="imagte/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
</head>
<body>
    <h1 class="icon">🐼</h1>
    <h1>Bienvenido, {{ session['usuario'] }} 👋</h1>
    <div class="opciones">
        <a class="opcion" href="{{ url_for('nueva_venta') }}">
            <img src="{{ url_for('static', filename='IMG/vender.png') }}" alt="Venta">
            <span>Registrar Venta</span>
        </a>

        <a class="opcion" href="{{ url_for('listar_productos') }}">
            <img src="{{ url_for('static', filename='IMG/inventario.png') }}" alt="Inventario">
            <span>Inventario</span>
        </a>

        <a class="opcion" href="{{ url_for('nuevo_producto') }}">
            <img src="{{ url_for('static', filename='IMG/producto.png') }}" alt="Nuevo Producto">
            <span>Nuevo Producto</span>
        </a>

        <a class="opcion" href="{{ url_for('cierre_caja') }}">
            <img src="{{ url_for('static', filename='IMG/cierre.png') }}" alt="Cierre">
            <span>Cierre de Caja</span>
        </a>

        <a class="opcion" href="{{ url_for('logout') }}">
            <img src="{{ url_for('static', filename='IMG/sesion.png') }}" alt="Cerrar sesión">
            <span>Cerrar Sesión</span>
        </a>
    </div>
</body>
</html>